/* TABLE GRID LAYOUT */

.pw-grid {
    grid-template-columns: 1.75fr 1.75fr 1.5fr;
    column-gap: 3rem;
}

/* CUSTOM CENTRED HEADING FOR TIMER */

.pw-subheader-upcoming {
    text-align: center;
}

/* ACCENTED COLOR TO TOP ROW */


#pw-driver-standings tbody tr:first-child td,
#pw-team-standings tbody tr:first-child td {
background-color: var(--accent);
color: #000;
}

#pw-driver-standings tbody tr:first-child td:nth-child(2),
#pw-team-standings tbody tr:first-child td:nth-child(2) {
background-color: var(--bg);
}

/* TABLE FORMAT - CARD COLOR */

#pw-driver-standings tbody tr:not(:first-child) td,
#pw-team-standings tbody tr:not(:first-child) td {
    background-color: var(--card);
}

#pw-driver-standings tbody tr td:nth-child(2),
#pw-team-standings tbody tr td:nth-child(2) {
    background-color: var(--bg);
}

/*---------*/
/* HEIGHTS */
/*---------*/

/* TABLE LAYOUT - ROW HEIGHT - DRIVER & TEAM STANDINGS */

#pw-team-standings tbody tr:not(.spacer-row) td,
#pw-driver-standings tbody tr:not(.spacer-row) td {
    height: 2rem;
}

/*----------*/
/* HEADINGS */
/*----------*/

/* TABLE LAYOUT - HEADING COLUMNS - DRIVER & TEAM STANDINGS */

.pw-drivers-names-column{
    padding-left: 1rem;
    text-align: left;
}

.pw-total-points-column{
    width: 3rem;
    padding-right: 1.25rem;
    text-align: right;
}

/*------*/
/* ROWS */
/*------*/


/* TABLE LAYOUT - ROW COLUMNS - DRIVER & TEAM STANDINGS */

.pw-rank-pos{
    width: 4rem;
    text-align: center;
    font-weight: bold;

}

.pw-drivers-names{
    padding-left: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
}


.pw-total-points{
    padding-right: 1.25rem;
    font-weight: bold;
    text-align: right;
}

/* DRIVER & TEAM STANDINGS - HIDE FOR SPINNER */

#pw-driver-standings,
#pw-team-standings {
  display: none;
}

/*-------*/
/* TIMER */
/*-------*/


/* TIMER STYLES */
#upcoming-event-widget .event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem; 
  padding: 0.5rem 1rem 1rem;
  border-radius: 0.75rem;
  color: var(--white);
}

.countdown-boxes {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

.countdown-boxes > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.count-box {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: bold;
  background-color: var(--card);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  text-align: center;
  color: var(--accent);
  box-sizing: border-box;
}

.label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 0.5rem;
  color: var(--white);
  display: block;
  text-align: center;
}

.event-info {
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

.live-box {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: #d42f2f;
  color: white;
  text-align: center;
  width: 100%;
}



@media screen and (max-width: 840px) {


    #pw-page-grid {
    display: flex !important;
    flex-direction: column !important;
    }

    #driver-standings {
    order: 2;
    }

    #team-standings {
    order: 1;
    }

    #timer {
    order: 0;
    }
}